<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <div class="container">
<!--        <h2 th:text="${summonerVO.name}"></h2>-->
<!--            <p th:text="${summonerVO.summonerLevel}"></p>-->
<!--            <table>-->
<!--                <tr th:each="${matchVO.matches}">-->
<!--                    <td><p th:text="${}"></p> </td>-->
<!--                </tr>-->
<!--            </table>-->
    </div>
</body>
</html>